@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        transition: background-color 0.5s ease;
        background-color: #F4F6FA; 
      }
      
      
      .dark {
        transition: background-color 0.5s ease;
        background-color: #313E51;  
      }
      
      
      .toggle-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 150px; /* Adjust width as needed */
          padding: 5px; /* Padding inside the button */
          cursor: pointer; /* Change cursor on hover */
        }
        
        .icon {
          /* Size of the icons */
          width: 24px;
          height: 24px;
        }
        
        .toggle {
          position: relative;
          width: 50px; /* Width of the toggle area */
          height: 24px; /* Height of the toggle area */
          background-color: #A729F5; /* Background of the toggle area */
          border-radius: 12px; /* Rounded corners for the toggle area */
          margin: 0 5px; /* Margin around the toggle area */
        }
        
        .toggle-slider {
          position: absolute;
          top: 3px; /* Slight offset from the top */
          left: 2px; /* Start position */
          width: 18px; /* Width of the slider */
          height: 18px; /* Height of the slider */
          background-color: #fff; /* Background of the slider */
          border-radius: 50%; /* Make the slider circular */
          transition: left 0.3s ease; /* Smooth transition for sliding effect */
        }
        
        .toggle-slider.toggled {
          left: 28px; /* End position when toggled */
        }
      
        .multiSelect:hover {
          border: 2px solid #A729F5
        }
      
        /* .multiSelect-button:hover{
            box-shadow: 2px 2px 2px 2px #A729F5;
        } */

        /* .multiSelect-button:hover:has(:active){
          box-shadow: none;
      } */


      
        .multiSelect:hover > .iconnic{
          background-color: #A729F5;
          color: white;
        }
      
        .multiSelect:hover:has(.correct-answer) > .iconnic{
          border: 2px solid theme('colors.green');
          
        }

        .multiSelect:hover:has(.wrong-answer) > .iconnic{
          border: 2px solid theme('colors.salmon');
          
        }
        /* Ici */
      
        .multiSelect:hover > .iconnic > span{
          color: white;
        }
        
      
        .noSelect{
          -webkit-tap-highlight-color: transparent;
        }

        .correct-answer{
            border: 2px solid theme('colors.green');
        }

        .correct-bg{
          background-color: theme('colors.green') !important;
          
        }

        .txt{
          color: theme('colors.white') !important;
        }

        .wrong-answer{
            border: 2px solid theme('colors.salmon');
        }

        .incorrect-bg{
          background-color: theme('colors.salmon') !important;
          
        }

        .selected-answer{
            border: 2px solid theme('colors.violet') ;
        }

        .progress-bar {
          background-color: theme('colors.white');
          padding: 3px;
          border-radius: 13px;
          height: 10px;
          width: 100%;
        }

        .dark .progress-bar {
          background-color: theme('colors.dark-blue-gray');
        }
        
        .progress {
          background-color: theme('colors.violet');
          height: 100%;
          border-radius: 13px;
        }
        

}
